{% extends 'base.html' %}
{% load static %}

{% block body %}
<div class="container p-5">
    <div class="row">
        {% for item in product %}
        <div class="col-sm-auto col-md-4 p-2">
            <div class="card h-100 shadow-lg" onclick="selectCard(this)">
                <img src="{% static item.image %}" class="img-fluid" alt="..." >
                <div class="card-body">
                    <h5 class="card-title">{{item.name}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted ">{{item.description}}</h6>
                    <p class="card-text">{{item.price}}€</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</div>

<script>
    function selectCard(obj){
        $('.card').attr('selected',false)
        $(obj).attr('selected',true)
    }
    
</script>

{% endblock %}